*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
:root{
    --main-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    list-style: none;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

/* nav - bar area */

header{
    width :100%;
    height : 63px;
    background-color: black;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
.search-bar-list {
    display: flex;
    align-items: center;
}
.home-button{
    margin-right: 10px;
    margin-left: 140px;
    background-color: #1F1F1F;
    border-radius: 50%;
    border: 0;
    height: 45px;
    width: 45px;
}
.fa-spotify, .fa-house, .fa-globe {
    color: #ffff;
}
.fa-spotify {
    margin-left: 20px ;
}
.fa-magnifying-glass ,.fa-pipe{
    color: #656565;
}
.search-form,.fa-magnifying-glass:hover {
    color: #ffff;
}
.browse-image {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.search-foam {
    background: #1F1F1F;
    border-radius: 28px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 45px;
    width: 450px;
}
.search-foam:hover {
    background-color: #3a3939;
}
.search-input{
    width: 340px;
    height: 30px;
    outline: none;
    border: none;
    background: transparent;
    margin-left: 15px;
    font-size: 16px;
    color: white;
    font-family: var(--main-font);
}
.search-input::placeholder{
    color: #9d9d9d;
    font-family: var(--main-font);
    font-weight: 500;
}

.log-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.log-area .log-in {
    border-radius: 28px;
    width: 100px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    background: white;
}
.log-area .log-in:hover{
    width: 100px;
    height: 47px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    background: rgb(230, 230, 230);
}
.log-area .sign-up {
    width: 100px;
    height: 45px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    color: #9D9D9D;
}
.log-area .sign-up:hover{
    width: 100px;
    height: 45px;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
    background: transparent;
    color: white;
}

.main-div {
    display: flex;
}

/* sidebar */

aside{
    width: 320px;
    height: 500px;
    background-color:#121212;
    border-radius: 10px;
    margin-left: 8px;
}
.library-logo-dark {
    position: absolute;
    width: 22px;
    height: 21px;
    margin: 22px 13px 30px 25px;
}
.library-logo {
    width: 22px;
    height: 21px;
    margin: 22px 13px 30px 25px;
}
.library-text{
    font-family:  var(--main-font);
    color: #9D9D9D;
    padding-top: 22px;
    font-weight: 700;
}
.library-text:hover{
    font-family:  var(--main-font);
    color: white;
}

.sidebar-text {
    display: flex;
    flex-direction: row;
}
.sidebar-text button{
    margin-left: 120px;
    margin-top: 20px;
    color: #9D9D9D;
    font-size: 25px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: 0;
    border: 0;
}
.sidebar-text button:hover{
    border-radius: 50%;
    background-color: #1F1F1F;
}

.library-logo:hover{
    opacity: 1;
}
.library-logo-dark:hover{
    opacity: 0;
}

.scroll-list-div {
    flex-direction: row;
    overflow-y: auto;
    width: 300px;
    height: 200px;
    margin : 10px 10px;
    background-color: #121212;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.scroll-list-div::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
    height: 2px;
}
.scroll-list-div::-webkit-scrollbar-thumb:hover {
    background-color: #9d9d9d71;
}
.scroll-list-div::-webkit-scrollbar-thumb{
    background: transparent;
}
.scroll-div{
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    width: 1010px;
    height: 500px;
    border-radius: 10px;
    margin-left: 0px;
}
.scroll-div::-webkit-scrollbar {
    background-color: transparent;
    min-width: 8px;
    min-height: 2px;
}
.scroll-div::-webkit-scrollbar-thumb{
    background: transparent;
}
.scroll-div::-webkit-scrollbar-thumb:hover {
    background-color: #9d9d9d71;
}

.playlist-div {
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    border-radius: 10px;
    width: 285px;
    height: 140px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-family: var(--main-font);
}
.podcast-div{
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    border-radius: 10px;
    width: 285px;
    height: 140px;
    margin-bottom: 20px;
    padding-top: 5px;
    font-family: var(--main-font);
}
.cookies-div {
    display: flex;
    padding-left: 20px;
    font-size: 11px;
    color: #9D9D9D;
    padding-top: 20px;
}
.cookies-text{
    padding-right: 20px;
    font-family: var(--main-font);
    cursor: pointer;
}
.english-btn-div{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
}
.cookies-link {
    font-family:  var(--main-font);
    font-size: 12px;
    color: white;
    margin-bottom: 40px;
    cursor: pointer;
}
.cookies-link:hover {
    text-decoration: underline;
}
.english-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 95px;
    height: 33px;
    border-radius: 28px;
    background-color: transparent;
    color: white;
    justify-content: center;
    font-family:  var(--main-font);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #9D9D9D;
}
.english-btn:hover {
    width: 97px;
    height: 34px;
    border: 1px solid white;
    padding-top: 6px;
    font-family:  var(--main-font);
    font-size: 15px;
    font-weight: 700;
    margin-left: -1px;
}
.crt-text {
    font-size: 15px;
    color: white;
    font-family:  var(--main-font);
    font-weight: 600;
    padding-left: 20px;
    padding-top: 18px;
}
.crt-text-1 {
    font-size: 13px;
    color: white;
    font-family:  var(--main-font);
    font-weight: 500;
    padding-left: 20px;
    padding-top: 10px;
}
.crt-button {
    border-radius: 28px;
    margin-left: 20px;
    margin-top: 20px;
    width: 138px;
    height: 33px;
    border: none;
    font-weight: 700;
    font-family: var(--main-font);
    background-color: white;
    font-size: 13px;
    cursor: pointer;
}
.crt-button:hover {
    width: 140px;
    height: 35px;
    margin-left: 19px;
    margin-top: 19px;
    background-color: #f5f3f3;
    font-size: 14px;
    font-weight: 700;
}

/* section bar */

section{
    width: 1010px;
    height: 500px;
    background-color:#121212;
    border-radius: 10px;
    margin-left: 8px;
}
.popular-div {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    font-family:  var(--main-font);
    font-size: 20px;
    font-weight: 600;
}
.show-all {
    padding-left: 740px;
    font-size: 15px;
    font-weight: 500;
}

.picture-div {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

.artist-grid {
    width: 100%;
    display: flex;
    margin-left: 15px;
}
.play-button{
    position: relative;
}
.play-button-c {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    margin-left: 75px;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    transition: transform 0.1s ease;    
}
.artist-squre:hover .play-button-c{
    opacity: 1;
    transform: translateY(-10px);
}
.artist-item {
    text-align: start;
    width: 100%;
    justify-content: center;
}
.artist-squre {
    padding-left: 12px;
    padding-top: 0px;
    border-radius: 5px;
    width: 160px;
    height: 240px;
    cursor: pointer;
}
.artist-squre:hover {
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(31,31,31,1) 0%, rgba(255,255,255,0) 100%);
}

.picture {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.text-artist {
    margin-top: 10px;
    font-size: 17px;
    color: white;
    font-family:  var(--main-font);
}
.artist {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(216, 214, 214);
    font-family:  var(--main-font); 
}
.album-picture {
    width: 140px;
    height: 140px;
    border-radius: 10px;
}
.special-links {
    display: flex;
    font-family: var(--main-font);
    font-size: 17px;
    color: #9D9D9D;
    
}
.special-list{
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.last-list {
    margin-right: 80px;
}
.special-head {
    font-family: var(--main-font);
    font-size: 17px;
    font-weight: 600;
    color: white;
    padding-bottom: 10px;
}
.special-body {
    padding-bottom: 10px;
}
.logo-links{
    width: 20px;
    height: 20px;
}
.social-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background-color: #1F1F1F;
    margin-right: 15px;
    margin-left: 0px;
}

hr {
    border-width: 1px;
    width: 950px;
    border-color: #3a3939;
    background-color: #1F1F1F;
    margin: auto;
    margin-bottom: 20px;
}
.copyright{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
    color: #9D9D9D;
    padding-bottom: 40px;
    padding-left: 25px;
}

/* footer bar as signup free area */

.footer-div {
    width :1340px;
    height: 71px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,0,147,1) 0%, rgba(3,131,176,1) 100%);
    margin-top: 8px;
    margin : 8px;
    display: flex;
    justify-content: space-between;
}

.footer-btn {
    width: 150px;
    height: 50px;
    border-radius: 28px;
    margin-top: 10px;
    margin-right: 25px;
    border: none;
    outline: none;
    font-family:  var(--main-font);
    font-size: 15px;
    font-weight: 700;
}
.footer-btn:hover {
    width: 152px;
    height: 52px;
    margin-top: 9px;
    margin-right: 24px;
    font-size: 16px;
}
.footer-text{
    margin-top: 18px;
    margin-left: 18px;
}
.preview{
    color: white;
    font-family:  var(--main-font);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 1px;
}
.footer-sign{
    color: white;
    font-family:  var(--main-font);
    font-size: 16px;
    font-weight: 500;
}
